@model dapm_final.Models.Account

@{
    ViewData["Title"] = "Chỉnh sửa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
} @* xong *@


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
            <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index" class="breadcrumb-item">Danh Sách Tài Khoản</a>
            <span class="breadcrumb-item active">Sửa Tài Khoản</span>
        </nav>
    </div>
</div>
<div class="card-body">
    <h4>Chỉnh Sửa Tài Khoản Quản Trị</h4>
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@Model.AccountId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Quyền Truy Cập</label>
                    <select class="form-control" asp-for="RoleId" asp-items="@ViewBag.QuyenTruyCap" required>
                        <option value="0" disabled selected>Chọn Quyền Truy Cập</option>
                    </select>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="Active" checked="">
                    <label for="Active"></label>
                </div>
                <label>Active</label>
            </div>
            <button class="btn btn-primary">
                <i class="anticon anticon-save"></i>
                <span>Chỉnh Sửa</span>
            </button>
        </form>
    </div>
</div>